.contentEditable {
    height: 300px;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #000;
}

.placeholder {
    position: absolute;
    top: 37px;
    padding-left: 8px;
}

.lexical-editor-bold {
    color: red;
}

.lexical-editor-italic {
    color: green;
}

.lexical-editor-h1 {
    background: blanchedalmond;
}
