.contentEditable {
    height: 300px;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #000;
}

.placeholder {
    position: absolute;
    top: 37px;
    padding-left: 8px;
}

.toolbarWrapper {
    display: flex;
}

.lexical-editor-bold {
    color: red;
}
.lexical-editor-italic {
    color: green;
}

.lexical-editor-h1 {
    font-size: 48px;
    text-decoration: underline;
    font-weight: bold;
}
.lexical-editor-h2 {
    font-size: 40px;
    font-weight: bold;
    color: green;
}
.lexical-editor-h3 {
    font-size: 32px;
}

.lexical-editor-banner {
    background: rgba(138, 43, 226, 0.3);
    margin: 8px 0;
    padding: 8px;
    border-left: 4px solid rgba(138, 43, 226);
}
